:root{
    --primary: rgb(231, 149, 41);
    --secondary: rgb(135, 33, 182);
    --primary-dark: rgb(39, 39, 39);
    --secondary-dark: rgb(97, 97, 97);
    --gradient: linear-gradient(60deg,gray,black);
    --gradient2: linear-gradient(60deg,rgb(156, 174, 255),black);
    --base:16px;
    --widht-separation:2rem;
    --aquamarine-50: #e9fff6;
--aquamarine-100: #c9ffe9;
--aquamarine-200: #98ffd8;
--aquamarine-300: #47ffc2;
--aquamarine-400: #14f3b1;
--aquamarine-500: #00db9a;
--aquamarine-600: #00b380;
--aquamarine-700: #008f6a;
--aquamarine-800: #007155;
--aquamarine-900: #005c48;
--aquamarine-950: #003429;
scroll-behavior: smooth;
--subtittle-gradient: linear-gradient(90deg,var(--aquamarine-600), blue, var(--aquamarine-600));
}



*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: var(--aquamarine-50);
    margin: 0;
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--primary-dark);
    box-sizing: border-box;
    min-width: 320px;
    
   
}

h1{
    margin-block-end: 5rem;
    color: #007155;
    
    
    align-self: center;
    
}

h1::before{
    content: "";
    background: var(--subtittle-gradient);
    width: 100%;
    height: 1rem;

}

h1:hover{
    text-shadow: 0 0 2px  yellow; 
}

h2{
    display: block;
    /* animation: tricolor 3s linear infinite; */
    position: relative;
    top: 0;
}

h1:first-child{
    font-size:48px;
}

p{
    display: block;
}
 
main>section{
    border-bottom: 0.5px solid rgb(70, 70, 70);
    border-bottom-width: 50%;
    padding-block-end: 4rem;
}

span{
    display: block;
}

footer{
    text-align-last: end;
}

main{
    padding-inline: var(--widht-separation);
    
    display: flex;
    flex-direction: column;
}





#imaper{border-radius: 50%;
/*border: 4px var(--secondary-dark) solid;*/
max-width: 280px;
max-height: 280px;

justify-self: center;
}

#presentacion{
    display: flex;
    
    flex-direction: row;
    gap: 2rem; 
    justify-content: center;
}





.aboutme{
    flex-direction: column;
    background: var(--aquamarine-200);
    border-radius: 8px;  
    padding: 1rem;
    border: 1px solid var(--aquamarine-800);
    max-width: 600px;
    justify-content: center;
}

.aboutme>p{
    font-size: 24px;
}

.bgimage>img{
 width: 100%;
 max-width: 100vw;
 
}

.contact{
    display: grid;
    grid-template-areas:
    "socials . ."
    ". form ." ;
    margin: 2rem;
    gap: 1rem 5rem;
    grid-template-columns: 2fr 1fr 2fr;

    
}



.contact form{
    
    
    background:linear-gradient(45deg,var(--aquamarine-300) ,var(--aquamarine-700)80% );
    
    border-radius: 8px;
    border:1px solid var(--aquamarine-900);
    font-weight:500;
    grid-area:form;
    
}

.contact>form>div{
    display: flex;
    
}

.contact  label, .contact  legend,input{
    margin: 1rem;
    display: block;
    
}

input:not(:valid){
    color: red;
}

.contact form button{
    
    color: black;
    background-color: #00db9a;
    margin: 1rem;
    border: 2px solid var(--aquamarine-900);
    position: relative;
    padding-block: 2 rem;
    width: 90%;
    
}

.contact form input{
    border-bottom:1px black solid; 
    border: transparent solid;
    
    background-color: whitesmoke;
    
    margin-inline-start: 1rem;
    
}

.contact div{
    grid-area: socials;
    
}

input:active{
    border:1px black;
}

.clonproyect{
    
    display: flex;
    appearance: none;
    width: 100%;
    transition: all .3s ease;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    border: 8px solid ;
    color: transparent;
    
    /* border-image:  var(--subtittle-gradient) 1;   */
    
}

/* .clonproyect:nth-child(even){
    background: var(--gradient);
}

.clonproyect:nth-child(odd){
    background: var(--gradient2); 
}*/
.clonproyect:hover{
    box-shadow: 0 0 15px 5px blue;
}

/* .clonproyect:active{
    box-shadow: 0 0 5px rgb(0, 0, 0);
} */

.navbar{
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    
    background: var(--aquamarine-900);
    display: flex;
    padding: 0.7rem;
    justify-content: space-between;
    z-index: 1;
    min-width: 320px;
    align-items: flex-start;
     
}

.navbar a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    border-left: transparent solid 4px;
    padding-left: 4px;
    background-color: var(--aquamarine-900);
   
    transition: all ease .3s;
    display: flex;
    
}

.navbar a:hover{
    color: rgb(69, 81, 255);
    border-left: 4px solid;
}







.proyectscont{
    display: grid ;
    grid-template-columns: repeat(auto-fill, 200px) ;
    justify-content: space-evenly;
    max-width:960px;
    gap:40px;
    margin: 0 auto;
}

.proyectscont>div>span{
    display: block;
    font-size: 30px;
}



.tecno{
    background: var(--gradient);
    display: flex;
    width: 48px;
    height: 48px;
    transition: .1s linear;
    text-align: center;
    
}

.tecno:first-child{
    background:none
}

.tecnologys{
    display: flex;
    flex-flow: row wrap;
    gap:2rem 6rem;
    justify-content: space-evenly;
    
    align-self: center;
    
}


/* se utiliza para varios elementos*/
.scaled:hover{
    transform: scale(1.2);
    border-radius: 0;
}
/* deshablitado por el momento*/
.sender{
    background-color:var(--aquamarine-950);
    display: none;
    
    color: rgb(255, 255, 255);
    border-style: none;
    font-weight: bold;
    padding:8px;
    align-self: flex-end;
    border-radius: 8px;
    border: 1px var(--aquamarine-950) solid;
}

.sender:hover{
    background-color: var(--aquamarine-300);
    color: black
}



@media  screen and (max-width:800px) {
    #presentacion{
        flex-wrap: wrap;
    }
    #imaper{
        position: relative;
        margin: auto;
        
    }
}

@media  screen and (max-width:600px) {
    .contact{
        grid-template-areas: 
        " socials . ."
        "form . .";
        grid-template-columns: minmax(320px,1fr) ;
    }
    
}

@keyframes tricolor{
    0%{
        color: red;
        font-size: 20px;
    }
    50%{color: purple;
        font-size: 30px;}
   
    100%{color: blue;
        font-size: 20px;}
}
